*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    width: 20vw;
    margin: 0 auto;
    text-align: center;
}
ul{
    list-style-type:none;
    text-align: center;

}

li{
    text-align: center;
    background-color: aquamarine;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    padding:1rem;
    width: 20vw;
}

.taskDone {
    text-decoration: line-through;
}
 
span,.delete{
    margin-left:2.5rem ;
}